body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#contents {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/2/2f/Hentai_-_yuuree-redraw.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


center {
    font-size: 10cap;
    color: rgb(88, 16, 54);
}

button {
    height: 10cap;
    width: 70%;
    font-size: 0.3cap;
    background-color: rgb(255, 20, 147);
    border-color: rgb(114, 0, 61);
    transition: 2s;
}

button:hover {
    transition: 2s;
    background-color: rgb(163, 0, 87);;
    width: 67%;
    height: 9cap;
    font-size: 0.29cap;
}
